section{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 80%;
    margin: 10px auto;

}
section a:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.artist{
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    margin-left: 5%;
}
.artist a img{
    width: 200px;
    height: 200px;
    border:0.625em solid rgba( 255, 255, 255, 0.7);
}
.artist p {
    text-align: center;
}
footer {
    color:black;
    font-weight: bolder;
    height: 130px;
    background-color: white;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding:30px 50px 80px 50px;
    border-top: 1px solid #000;
    margin-top: 30px;
}
.footer-info1{
    margin: 20px;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-info2{
    text-align: center;
}
footer div img{
    width: 30px;
    height: 30px;
}
#icons {
    text-align: center;
    line-height:initial;
}
